<div class="col col-md-3 mt-2">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>
      <p class="card-text">{{blog.blogText}}</p>
      <!--<a href="#" class="btn btn-primary">Add comment</a>-->
    </div>
  </div>
</div>