<div class="col col-md-3 mt-2 drink-list">
<div class="card text-center" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title" id="blog-title">{{title}}</h5>
    <p class="card-title" id="blog-subtitle">Posted by {{member_id}}</p>
    <p class="card-text" id="blog-blogtext">{{blogText}}</p>
    <button data-id="{{blog.id}}" class="btn viewPostBtn" type="submit">Add Comment</button>
  </div>
</div>
</div>

<!--<script src="./js/homepage.js"></script>-->