


{{#each blogs as |blog| }}
<div class="col col-md-3 mt-2 drink-list">
<div class="card text-center" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title" id="blog-title">{{blog.title}}</h5>
    <p class="card-title" id="blog-subtitle">Posted by {{blog.member_id}}</p>
    <!--<p class="card-text" id="blog-blogtext">{{blog.blogText}}</p>-->
    <button data-id="{{blog.id}}" class="btn viewPostBtn" type="submit">View Post</button>
  </div>
</div>
</div>
{{/each}}

<script src="./js/homepage.js"></script>
