
<h2> Welcome, {{name}}! </h2>

<!--TODO: create text area for new post-->
<a class="btn btn-outline me-2" href="/post">Creat Post</a>

<h3 class="mt-4 mb-3">My Posts</h3>

{{#if blogs.length}}

{{#each blogs as |blog| }}
<div class="col col-md-3 mt-2 drink-list">
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.blogText}}</p>
    <button  data-id="{{blog.id}}" class="btn btn-outline removeBTN" >Delete</button>
  </div>
</div>
</div>
{{/each}}
{{/if}}

<script src="./js/profile.js"></script>